// Add any custom components here
//@import '../components/Example';
// additonal utilitie
.bg-overlay {
    position: relative;
    &::before {
        @apply absolute top-0 right-0 bottom-0 left-0;
        content: "";
        background-color: rgba($color: #000000, $alpha: .5);
    }
}

.vertical-center {
    @apply absolute;
    top: 50%;
    transform: translateY(-50%);
}

// Heros
.page-hero {
    a {
        @apply text-white;
    }
}

.btn {
    @apply text-center border border-solid block p-3;
    color: currentColor;
    border-color: currentColor;
}

// specials
.glyph {
    @apply border border-solid inline-block mb-8 w-10 h-10 relative;
    &::after {
        content: "";
        @apply absolute w-screen bg-blue-600 bottom-0;
        height: 3px;
        bottom: -1rem;
    }
    &-left {
        margin-left: 30%;
        &::after {
            @apply right-0;
        }
    }
    &-right {
        margin-left: 40%;
        &::after {
            @apply left-0;
        }
    }
}

$text-arrow-space: 16px;
$shaft-width: 32px;
$shaft-thickness: 1px;
$arrow-head-width: 6px;
$arrow-head-thickness: $shaft-thickness;
.the-arrow {
    width: $shaft-width;
    transition: all 0.2s;
    &.-left {
        @apply absolute w-full left-0;
        top: 50%;
        >.shaft {
            @apply w-0;
            background-color: currentColor;
            &:before,
            &:after {
                @apply w-0;
                background-color: currentColor;
            }
            &:before {
                transform: rotate(0);
            }
            &:after {
                transform: rotate(0);
            }
        }
    }
    &.-right {
        top: 0;
        >.shaft {
            width: $shaft-width;
            transition-delay: 0.2s;
            &:before,
            &:after {
                width: $arrow-head-width;
                transition-delay: 0.3s;
                transition: all 0.5s;
            }
            &:before {
                transform: rotate(40deg);
            }
            &:after {
                transform: rotate(-40deg);
            }
        }
    }
    >.shaft {
        @apply block relative;
        height: $shaft-thickness;
        transition: all 0.2s;
        transition-delay: 0;
        will-change: transform;
        &:before,
        &:after {
            @apply block absolute top-0 right-0;
            background-color: currentColor;
            content: '';
            height: $arrow-head-thickness;
            transition: all 0.2s;
            transition-delay: 0;
        }
        &:before {
            transform-origin: top right;
        }
        &:after {
            transform-origin: bottom right;
        }
    }
}

// Animated Arrow Button
.animated-arrow {
    @apply text-white block relative text-base tracking-wider no-underline uppercase;
    transition: all 0.2s;
    // &:hover {
    //     color: #fff;
    //     >.the-arrow.-left {
    //         >.shaft {
    //             width: $shaft-width;
    //             transition-delay: 0.1s;
    //             background-color: #fff;
    //             &:before,
    //             &:after {
    //                 width: $arrow-head-width;
    //                 transition-delay: 0.1s;
    //                 background-color: #fff;
    //             }
    //             &:before {
    //                 transform: rotate(40deg);
    //             }
    //             &:after {
    //                 transform: rotate(-40deg);
    //             }
    //         }
    //     }
    //     >.main {
    //         transform: translateX($shaft-width + $text-arrow-space);
    //         >.the-arrow.-right {
    //             >.shaft {
    //                 width: 0;
    //                 transform: translateX(200%);
    //                 transition-delay: 0;
    //                 &:before,
    //                 &:after {
    //                     width: 0;
    //                     transition-delay: 0;
    //                     transition: all 0.1s;
    //                 }
    //                 &:before {
    //                     transform: rotate(0);
    //                 }
    //                 &:after {
    //                     transform: rotate(0);
    //                 }
    //             }
    //         }
    //     }
    // }
    >.main {
        @apply flex justify-end items-center;
        transition: all 0.2s;
        >.text {
            margin: 0 $text-arrow-space 0 0;
            line-height: 1;
        }
        >.the-arrow {
            position: relative;
        }
    }
}