// Midnight
.midnightHeader {
    &.default,
    &.black {
        @apply text-white fill-current;
    }
    &.white {
        @apply text-gray-700 fill-current;
    }
}

// specials
.glyph {
    @apply inline-block mb-8 w-10 h-10 relative;
    &::after {
        content: "";
        @apply absolute w-screen bg-blue-600 bottom-0;
        height: 3px;
        bottom: -.7rem;
    }
    &-left {
        margin-left: 30%;
        &::after {
            @apply right-0;
        }
    }
    &-right {
        margin-left: 40%;
        &::after {
            @apply left-0;
        }
    }
}

.vertical-center {
    @apply absolute;
    top: 50%;
    transform: translateY(-50%);
}

$text-arrow-space: 16px;
$shaft-width: 32px;
$shaft-thickness: 1px;
$arrow-head-width: 6px;
$arrow-head-thickness: $shaft-thickness;
.the-arrow {
    width: $shaft-width;
    transition: all 0.2s;
    &.-left {
        @apply absolute w-full left-0;
        top: 50%;
        >.shaft {
            @apply w-0;
            background-color: currentColor;
            &:before,
            &:after {
                @apply w-0;
                background-color: currentColor;
            }
            &:before {
                transform: rotate(0);
            }
            &:after {
                transform: rotate(0);
            }
        }
    }
    &.-right {
        top: 0;
        >.shaft {
            width: $shaft-width;
            transition-delay: 0.2s;
            &:before,
            &:after {
                width: $arrow-head-width;
                transition-delay: 0.3s;
                transition: all 0.5s;
            }
            &:before {
                transform: rotate(40deg);
            }
            &:after {
                transform: rotate(-40deg);
            }
        }
    }
    >.shaft {
        @apply block relative;
        height: $shaft-thickness;
        transition: all 0.2s;
        transition-delay: 0;
        will-change: transform;
        &:before,
        &:after {
            @apply block absolute top-0 right-0;
            background-color: currentColor;
            content: '';
            height: $arrow-head-thickness;
            transition: all 0.2s;
            transition-delay: 0;
        }
        &:before {
            transform-origin: top right;
        }
        &:after {
            transform-origin: bottom right;
        }
    }
}

// Animated Arrow Button
.animated-arrow {
    @apply text-white relative text-base tracking-wider no-underline uppercase;
    transition: all 0.2s;
    // &:hover {
    //     color: #fff;
    //     >.the-arrow.-left {
    //         >.shaft {
    //             width: $shaft-width;
    //             transition-delay: 0.1s;
    //             background-color: #fff;
    //             &:before,
    //             &:after {
    //                 width: $arrow-head-width;
    //                 transition-delay: 0.1s;
    //                 background-color: #fff;
    //             }
    //             &:before {
    //                 transform: rotate(40deg);
    //             }
    //             &:after {
    //                 transform: rotate(-40deg);
    //             }
    //         }
    //     }
    //     >.main {
    //         transform: translateX($shaft-width + $text-arrow-space);
    //         >.the-arrow.-right {
    //             >.shaft {
    //                 width: 0;
    //                 transform: translateX(200%);
    //                 transition-delay: 0;
    //                 &:before,
    //                 &:after {
    //                     width: 0;
    //                     transition-delay: 0;
    //                     transition: all 0.1s;
    //                 }
    //                 &:before {
    //                     transform: rotate(0);
    //                 }
    //                 &:after {
    //                     transform: rotate(0);
    //                 }
    //             }
    //         }
    //     }
    // }
    >.main {
        @apply flex justify-end items-center;
        transition: all 0.2s;
        >.text {
            margin: 0 $text-arrow-space 0 0;
            line-height: 1;
        }
        >.the-arrow {
            position: relative;
        }
    }
}

// down arrow
.down-arrow span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid currentColor;
    border-bottom: 1px solid currentColor;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb04 2s infinite;
    animation: sdb04 2s infinite;
    box-sizing: border-box;
}

@-webkit-keyframes sdb04 {
    0% {
        -webkit-transform: rotate(-45deg) translate(0, 0);
    }
    20% {
        -webkit-transform: rotate(-45deg) translate(-10px, 10px);
    }
    40% {
        -webkit-transform: rotate(-45deg) translate(0, 0);
    }
}

@keyframes sdb04 {
    0% {
        transform: rotate(-45deg) translate(0, 0);
    }
    20% {
        transform: rotate(-45deg) translate(-10px, 10px);
    }
    40% {
        transform: rotate(-45deg) translate(0, 0);
    }
}

// swiper
.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    height: 100vh !important;
    min-height: 100% !important;
}

.swiper-container-horizontal>.swiper-pagination-bullets {
    @apply left-0 right-0 text-left px-0;
    bottom: 10rem !important;
    .swiper-pagination-bullet {
        opacity: .3;
        width: 2rem;
        height: 4px;
        border-radius: 0;
        background-color: currentColor;
        transition: all .2s ease-in-out;
        &-active {
            width: 4rem;
            opacity: 1;
        }
    }
}

.swiper-container-vertical>.swiper-pagination-bullets {
    @apply .fixed;
}

.swiper-button-next,
.swiper-button-prev {
    color: currentColor !important;
}

hr {
    border-top: 1px solid #999;
    margin: 3rem auto;
    width: 60%;
    &::after {
        content: '';
        background-repeat: no-repeat;
        background-size: 80%;
        background-position: 50%;
        padding: 2.5rem;
        left: 50%;
        position: absolute;
        transform: translateY(-50%) translateX(-50%);
        padding: 20px;
    }
}

.section-block {
    ul {
        @apply pl-10 .list-disc;
        li {
            @apply text-sm mb-4;
        }
    }
}