{% extends "layouts/base.twig" %}

{% block content %}
	
	<div id="page-404" class="content-wrapper">
		
		Sorry, we couldn't find what you're looking for.

	</div>
	<!-- /content-wrapper -->
{% endblock %}