{% block html_head_container %} 
    {% include 'partials/sections/section-html-header.twig' %} 
{% block head %} 
{% endblock %}
</head>
{% endblock %}

    <body class="{{body_class}}" data-template="base.twig">
        {# <a class="hidden skip-link screen-reader-text" href="#content">{{ _e( 'Skip to content') }}</a> #}
        <main id="mainContent" class="overflow-x-hidden content-wrapper" role="main">
            {# header #}

            {% block content %}
                Sorry, no content
            {% endblock %}

            {% block footer %}
                {# footer #}
            {% endblock %} 
        </main>
    
        {{ function('wp_footer') }} 
    </body>

</html>