{% set slides = {
    one: {title: 'This slide one', desc: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis natus veniam ipsam voluptatibus, totam magni nam adipisci odit, ex enim eum voluptas a, aspernatur optio. Ratione quod vero nesciunt dolore?'},
    two: {title: 'This slide two', desc: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis natus veniam ipsam voluptatibus, totam magni nam adipisci odit, ex enim eum voluptas a, aspernatur optio. Ratione quod vero nesciunt dolore?'},
    three: {title: 'This slide three',   desc: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis natus veniam ipsam voluptatibus, totam magni nam adipisci odit, ex enim eum voluptas a, aspernatur optio. Ratione quod vero nesciunt dolore?'}
} %}


<div class="swiper-container text-white">
    <div class="swiper-wrapper">
        {% for item in slides %}
            <section id="pageSlider" class="swiper-slide h-screen overflow-x-hidden bg-black bg-no-repeat bg-cover page-slider bg-overlay" style="background-image: url('https://picsum.photos/1200/800')">
                <div class="container flex h-full py-10">
                    <div class="row self-center">
                        <div class="md:col-7 ">
                            <div class="py-10 text-white entry">
                                {% include "partial/inc-glyph.twig" %}
    
                                <h1 class="mb-2 text-5xl font-thin text-white">{{item.title}}</h1>
                                <p class="">{{item.desc}}</p>
    
                                {% include "partial/inc-cta-arrow.twig" with {
                                    color: 'text-white'
                                } %}
    
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        {% endfor %}
    </div>

    {% include "partial/inc-down-arrow.twig" %}

     <!-- If we need pagination -->
    <div class="swiper-pagination container"></div>
    
    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev md:ml-12"></div>
    <div class="swiper-button-next md:mr-12"></div>

    
</div>

