@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600|Raleway:300,400,500&display=swap');
@import "lib/mixins";
@import "~tailwindcss/base";
@import "~tailwindcss/components";
@import "~tailwindcss/utilities";
@import "components/components";
@import "partials/partials";
@import "vendor/vendor";
html,
body {
    font-family: Open Sans;
    position: relative;
    height: 100%;
}

// Heros
// =≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠=≠
.page-hero {
    a {
        @apply text-white;
    }
}