.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    height: 100vh !important;
    min-height: 100% !important;
}

.swiper-container-vertical>.swiper-pagination-bullets {
    @apply .fixed;
}

.swiper-button-next,
.swiper-button-prev {
    color: currentColor;
}