{% extends "layout/base.twig" %}

{% block content %}
	<div class="content-wrapper">
		<div class="post-hero flex content-center min-h-1/2 text-white bg-black bg-no-repeat bg-cover bg-overlay mb-5 py-32 px-3" style="background-image: url('https://picsum.photos/1200/800')">
			<div class="container flex items-center">
				<div class="row w-full relative">
					<div class="entry sm:col-12 md:col-9">
						{# {% include "partial/inc-glyph.twig" %} #}
						<span class="text-xs uppercase">Case Study</span>
						<h1 class="font-light text-white text-5xl">{{post.title}}</h1>
					</div>
				</div>
			</div>
		</div>
		<article class="container-fluid relative lg:-mt-20 post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
			<section class="row article-content">
				<div class="sm:col-12 md:col-6 py-32 lg:pl-32 article-body">
					{{post.content}}
				</div>

                <div class="form-container sm:col-12 md:col-6 bg-white lg:rounded-tl-sm">
                    <div class="px-20 py-10 mx-auto">
                        <script>
                        hbspt.forms.create({
                            portalId: "1614529",
                            formId: "0b405e20-2bf3-42ac-8344-ab6b90155b9e",
                            css: ''
                        });
                        </script>
                    </div>
                </div>
			</section>

            

            
		</article>

		<div class="related bg-gray-200">
				<div class="container pb-16">
					<div class="row py-8">
						<div class="sm:col-12 md:col-8">
							{% include "partial/inc-glyph.twig" %}
							<h2 class="text-5xl">Related Case Studies</h2>
						</div>
					</div>
					<div class="row">
						<div class="sm:col-12 md:col-4">
							<div class="w-full max-w-sm overflow-hidden border bg-white shadow">
								<div class="relative">
									<div class="h-40 bg-cover bg-no-repeat bg-center"
									style="background-image: url(https://picsum.photos/245/245">
									</div>
									<div style="bottom: -20px;" class="absolute right-0 w-10 mr-2">
									<a href="#">
										<img class="rounded-full border-2 border-white" src="https://randomuser.me/api/portraits/women/17.jpg" >
									</a>
									</div>
								</div>
								<div class="p-3">
									<h3 class="mr-10 text-sm truncate-2nd">
									<a class="hover:text-blue-500" href="/huawwei-p20-pro-complete-set-with-box-a.7186128376">Some Title Here</a>
									</h3>
									<div class="flex items-start justify-between">
									<p class="text-xs text-gray-500 mt-0 mb-2">Quezon City, Metro Manila</p>
									<button class="outline text-xs text-gray-500 hover:text-blue-500" title="Bookmark this ad"><i class="far fa-bookmark"></i></button>
									</div>
								</div>
							</div>
						</div>
						<div class="sm:col-12 md:col-4">
							<div class="w-full max-w-sm overflow-hidden border bg-white shadow">
								<div class="relative">
									<div class="h-40 bg-cover bg-no-repeat bg-center"
									style="background-image: url(https://picsum.photos/245/245">
									</div>
									<div style="bottom: -20px;" class="absolute right-0 w-10 mr-2">
									<a href="#">
										<img class="rounded-full border-2 border-white" src="https://randomuser.me/api/portraits/women/17.jpg" >
									</a>
									</div>
								</div>
								<div class="p-3">
									<h3 class="mr-10 text-sm truncate-2nd">
									<a class="hover:text-blue-500" href="/huawwei-p20-pro-complete-set-with-box-a.7186128376">Some Title Here</a>
									</h3>
									<div class="flex items-start justify-between">
									<p class="text-xs text-gray-500 mt-0 mb-2">Quezon City, Metro Manila</p>
									<button class="outline text-xs text-gray-500 hover:text-blue-500" title="Bookmark this ad"><i class="far fa-bookmark"></i></button>
									</div>
								</div>
							</div>
						</div>
						<div class="sm:col-12 md:col-4">
							<div class="w-full max-w-sm overflow-hidden border bg-white shadow">
								<div class="relative">
									<div class="h-40 bg-cover bg-no-repeat bg-center"
									style="background-image: url(https://picsum.photos/245/245">
									</div>
									<div style="bottom: -20px;" class="absolute right-0 w-10 mr-2">
									<a href="#">
										<img class="rounded-full border-2 border-white" src="https://randomuser.me/api/portraits/women/17.jpg" >
									</a>
									</div>
								</div>
								<div class="p-3">
									<h3 class="mr-10 text-sm truncate-2nd">
									<a class="hover:text-blue-500" href="/huawwei-p20-pro-complete-set-with-box-a.7186128376">Some Title Here</a>
									</h3>
									<div class="flex items-start justify-between">
									<p class="text-xs text-gray-500 mt-0 mb-2">Quezon City, Metro Manila</p>
									<button class="outline text-xs text-gray-500 hover:text-blue-500" title="Bookmark this ad"><i class="far fa-bookmark"></i></button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	<!-- /content-wrapper -->

{% endblock %}
