{% extends "layout/base.twig" %}

{% block content %}
	<div class="content-wrapper">

		{% include "components/section-page-header.twig" %}

		<article class="post-type-{{post.post_type}} container" id="post-{{post.ID}}" data-midnight="black">
			<section class="row article-content">
				<div class="sm:col-12  bg-gray-100 -mt-10 md:px-24 pt-8 rounded-sm article-body">
					{{post.content}}
				</div>
			</section>
		</article>

		{% include "components/about/section-team.twig" %}

		
		{% include "components/section-get-started.twig" %}
		
		

	</div><!-- /content-wrapper -->

{% endblock %}