{% set header = post.meta('page_header') %}

{% set title = header.header_title %}
{% set summary = header.header_summary %}
{% set bck = header.header_image %}
<div class="page-hero flex content-center min-h-1/2 text-white bg-black bg-no-repeat bg-cover bg-overlay py-32 px-3" style="background-image: url({{ Image(bck).src }})">
    <div class="container flex items-center">
        <div class="row w-full relative">
            <div class="entry sm:col-12 md:col-9" >
                {% include "partial/inc-glyph.twig" %}
                <h1 class="font-light text-white text-6xl uppercase leading-none mb-4" data-aos="fade-up" data-aos-delay="200">
                    {{title ? title : post.title}}
                </h1>
                {% if summary %}
                <p class="lg:pr-30 text-2xl uppercase font-light" data-aos="fade-up" data-aos-delay="400">{{summary}}</p>
                {% endif %} 
            </div>
        </div>
    </div>
</div>